@import"./utilities/variables";
@import"./base/reset";
@import"./components/boostrap";
@import"./layout/header";
@import"./layout/footer";
@import"./layout/main-general";
@import"./layout/main-index";
@import"./layout/main-clubes";
@import"./layout/main-nosotros";
@import"./layout/main-jugadores";
@import"./layout/main-dt";
