
body{
    background-image:$fondo ;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}

main{
    .h11{
        text-decoration: none;
        color: white;
        margin: 80px;
        text-shadow: 2px 2px $h1-color;
    }
}
