@media(max-width:426px){
    .navbar{
        display: inline-block;
        flex-direction: row;
        justify-content: flex-end;
    }
    .img-container{
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto;
        justify-content: space-around;
        padding: 10px 30px 10px 30px;
    }
}