.medio {
	text-align: center;
	list-style: none;
	article {
		div {
			padding: 20px;
			margin: 15px;
			text-decoration: none;
			font-size: 20px;
            color:$color_1 ;
		}
	}
}
.media {
	margin: 50px 10px 50px 10px;
	width: 50%;
}