.imgstaff{
	color: $color_1;
	text-decoration: none;
	text-align: center;
	div {
		padding: 20px;
		margin: 15px;
		text-align: center;
		text-decoration: none;
        font-size: large;
	}
}
.img-container{
    padding: auto;
    text-align: center;
}
